footer.footer-container
	.content
		nav.navigation
			.column
				.section
					h3.section-title Shop and Learn
					ul.section-list
						li.section-item
							a.section-link(href="#") Mac
						li.section-item
							a.section-link(href="#") iPad
						li.section-item
							a.section-link(href="#") iPhone
						li.section-item
							a.section-link(href="#") Watch
						li.section-item
							a.section-link(href="#") TV
						li.section-item
							a.section-link(href="#") Music
						li.section-item
							a.section-link(href="#") iTunes
						li.section-item
							a.section-link(href="#") iPod
						li.section-item
							a.section-link(href="#") Accessories
						li.section-item
							a.section-link(href="#") Gift Cards
			.column
				.section
					h3.section-title Apple Store
					ul.section-list
						li.section-item
							a.section-link(href="#") Find a Store
						li.section-item
							a.section-link(href="#") Genius Bar
						li.section-item
							a.section-link(href="#") Workshops and Learning
						li.section-item
							a.section-link(href="#") Youth Programs
						li.section-item
							a.section-link(href="#") Apple Store App
						li.section-item
							a.section-link(href="#") Refurbished
						li.section-item
							a.section-link(href="#") Financing
						li.section-item
							a.section-link(href="#") Reuse and Recycling
						li.section-item
							a.section-link(href="#") Order Status
						li.section-item
							a.section-link(href="#") Shopping Help
			.column
				.section
					h3.section-title For Education
					ul.section-list
						li.section-item
							a.section-link(href="#") Apple and Education
						li.section-item
							a.section-link(href="#") Shop for College
				.section
					h3.section-title For Business
					ul.section-list
						li.section-item
							a.section-link(href="#") Apple and Business
						li.section-item
							a.section-link(href="#") Shop for Business
			.column
				.section
					h3.section-title Account
					ul.section-list
						li.section-item
							a.section-link(href="#") Manage Your Apple ID
						li.section-item
							a.section-link(href="#") Apple Store Account
						li.section-item
							a.section-link(href="#") iCloud.com
				.section
					h3.section-title Apple Values
					ul.section-list
						li.section-item
							a.section-link(href="#") Accessibility
						li.section-item
							a.section-link(href="#") Education
						li.section-item
							a.section-link(href="#") Environment
						li.section-item
							a.section-link(href="#") Inclusion and Diversity
						li.section-item
							a.section-link(href="#") Privacy
						li.section-item
							a.section-link(href="#") Supplier Responsibility
			.column
				.section
					h3.section-title About Apple
					ul.section-list
						li.section-item
							a.section-link(href="#") Apple Info
						li.section-item
							a.section-link(href="#") Newsroom
						li.section-item
							a.section-link(href="#") Job Opportunities
						li.section-item
							a.section-link(href="#") Press Info
						li.section-item
							a.section-link(href="#") Investors
						li.section-item
							a.section-link(href="#") Events
						li.section-item
							a.section-link(href="#") Contact Apple
		section.footer
			.footer-shop
				|  More ways to shop: Visit an <a href="#">Apple Store</a>, <span class="nowrap">call 1-800-MY-APPLE, or <a href="#">find a reseller</a></span>.
			.footer-locale
				a.footer-locale-link(href="#")
					span.footer-locale-flag
					| United States
			.footer-legal
				.copyrigths Copyright © 2016 Apple Inc. All rights reserved.
				.legal-links
					a.legal-link(href="#") Privacy Policy
					a.legal-link(href="#") Terms of Use
					a.legal-link(href="#") Sales and Refunds
					a.legal-link(href="#") Legal
					a.legal-link(href="#") Site Map