section.hero
	.hero__background-container.hero__background-container--female
	.top-section
		.top-section__container
			h1.hero__header Безпечний спільний доступ,&nbsp;синхронізація та співпраця
			h2.hero__sub-header Dropbox Business&nbsp;— це рішення для безпечного спільного доступу до файлів і зберігання у хмарі, яке подобається працівникам і якому можуть довіряти ІТ-адміністратори.
			.try-business-cta
				a.try-business-cta__button Безкоштовне 30-денне ознайомлення
				span.try-business-cta__footer або 
					a(href="#buyNow") придбати зараз