.container
	.inside
		h2 Join over 2 million designers already using InVision. Get InVision <strong>free</strong>  forever!
		form.signup_form
			p
				label(for="signup_name") Your Name
				i.ico-user
				input(type="text", id="signup_name")
			p
				label(for="signup_email") Email Address
				i.ico-email
				input(type="text", id="signup_email")
			p
				label(for="signup_password") Create a Password
				i.ico-lock
				input(type="text", id="signup_password")
			p.button
				button(type="submit") Get Started — Free Forever!

		p.terms
			| By clicking "Get Started — Free Forever!" I agree to InVision's <a href="#terms">Terms of Service.</a>