.proposal-container
	ul.proposal
		li.proposal__item
			a.proposal__link(href="#")
				.proposal__background(style="background-image: url(https://scontent.oculuscdn.com/t64.5771-25/11162714_283652092025521_547216123_n.jpg/eve-valkyrie.jpg);")
				.proposal__text
					h4.proposal__discription FEATURED CONTENT
					h3.proposal__title EVE: Valkyrie
		li.proposal__item
			a.proposal__link(href="#")
				.proposal__background(style="background-image: url(https://scontent.oculuscdn.com/t64.5771-25/12504834_1610504179262797_1233001088_n.jpg/luckys-tale.jpg);")
				.proposal__text
					h4.proposal__discription INCLUDED WITH ALL RIFT PURCHASES
					h3.proposal__title Lucky's Tale
		li.proposal__item
			a.proposal__link(href="#")
				.proposal__background(style="background-image: url(https://scontent.oculuscdn.com/t64.5771-25/12680264_165436440535334_659901318_n.jpg/oc3-stage-image.jpg);")
				.proposal__text
					h4.proposal__discription FEATURED STORY
					h3.proposal__title Announcing Oculus Connect 3 and Rift Availability Update
