* {
    box-sizing: border-box;
}
div, h2, p, form {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
.container {
    position: relative;
    text-align: center;
    padding: 160px 0 145px;
    background: #323a45;
    font-family: "Open Sans", "open-sans", sans-serif;
}
.inside {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    clear: both;
    
    &:before, &:after {
        content: " ";
        display: table;
    }
}
h2 {
    font-size: 30px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 55px;
}
strong {
    font-weight: 700;
}
.signup_form {
    display: inline-block;
    margin-bottom: 31px;

    & p {
        position: relative;
        float: left;
        margin: 0;

        & label {
            margin-left: 50px;
        }
        & i {
            position: absolute;
            top: 18px;
            left: 15px;
        }
        & input {
            font: 400 18px/1em "Open Sans", "open-sans", sans-serif;
            color: #8a959e;
            background: #fff;
            height: 63px;
            width: 232px;
            line-height: 1em;
            border-radius: 3px;
            padding: 18px 15px 18px 48px;
            margin-right: 10px;
            border: 1px solid #d4d7da;
            outline: none;
        }
    }
}
form label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
    color: #8a959e;
    margin: 16px 0px 0px 16px;
    font-weight: 400;
}
p {
    font-size: 18px;
    line-height: 1.8em;
    color: #747c83;
}
.button button {
    margin: 0px;
    height: 62px;
    display: inline-block;
    padding: 21px 40px 19px;
    background: #ff3366;
    border: 0;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    line-height: 1em;
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: background 0.3s;

    &:hover {
        background: #f42156;
    }
}
p.terms {
    font-size: 12px;

    & a {
        color: #747c83;
        text-decoration: underline;

        &:hover {
            color: #fff;
        }
    }
}
.ico-user {
    display: inline-block;
    vertical-align: middle;
    height: 24px;
    width: 24px;
    background-image: url('https://www.invisionapp.com/assets/img/sprites-retina/global-s6dadb11278.png');
    background-position: 0 -363.5px;
    background-repeat: no-repeat;
    background-size: 141px auto;
}
.ico-email {
    display: inline-block;
    vertical-align: middle;
    height: 24px;
    width: 24px;
    background-image: url('https://www.invisionapp.com/assets/img/sprites-retina/global-s6dadb11278.png');
    background-position: 0 -295.5px;
    background-repeat: no-repeat;
    background-size: 141px auto;
}
.ico-lock {
    display: inline-block;
    vertical-align: middle;
    height: 24px;
    width: 24px;
    background-image: url('https://www.invisionapp.com/assets/img/sprites-retina/global-s6dadb11278.png');
    background-position: 0 -329.5px;
    background-repeat: no-repeat;
    background-size: 141px auto;
}